body{background: #f1f1f1 !important;}
a.nav-link {
    color: #000000 !important;
}
  input[type=text].searchBar {
      font-family: monospace;
      background: rgb(255, 255, 255);
      width: 20px;
      height: 20px;
      padding: 20px;
      border-radius: 30px;
      border: none;
      color: rgb(37, 37, 37);
      cursor: pointer;
      transition: width 1s ease;
      font-size: 14px;
    }
    input[type=text].searchBar:focus {
        outline: none;
    }    

  .searchBtn {
      width: 18px;
      height: 18px;
      margin: 11px 0 0 11px;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      color: #000000;
  }


  .search-contain:before {
      content: "";
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 4px solid rgb(255, 255, 255);
      position: absolute;
      animation: grow 1s 3;
  }


  @keyframes grow {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(1.5);
          opacity: 0;
      }
  }
  nav{
      background: #ffffff;
  }